#title {
  border: 300px solid black;
}
header {
  background-size: cover;
}
h1 {
  text-align: center;
  color: red;
  font-family: sans-serif;
  font-size: 40px;
}
img {
  margin: 40px 0px 0px 0px;
  align-items: center;
  border: 7px solid white;
  border-radius: 20px;
}
.myimage {
  height: 200px;
  width: 20%;
}
ul {
  text-align: center;
  color: blue;
  font-family: sans-serif;
  padding: 10px;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
p {
  color: purple;
  font-size: 20px;
  font-family: sans-serif;
  margin: 20px;
}
